/* General styling */
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6a1b9a;
  padding: 30px; /* Increased padding to make the header 3 times taller */
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.company-name {
  margin: 0;
  text-align: center;
  flex-grow: 1;
  font-size: 2.25em; /* Font size for company name */
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  padding: 5px;
}

.search-bar-container {
  padding: 10px;
  text-align: center;
  background-color: #e1bee7;
}

.search-bar-container input[type="text"] {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.product-heading {
  text-align: center;
  padding: 15px;
  background-color: #ab47bc;
  color: white;
  font-size: 1.2em;
  border-bottom-left-radius: 35px; /* Rounded bottom-left corner */
  border-bottom-right-radius: 35px; /* Rounded bottom-right corner */
}

/* Image container styling */
.image-container {
  text-align: center;
  margin: 20px 0; /* Add margin to create space above and below the image */
}

.image-container img {
  width: 200%; /* Double the image width */
  height: auto; /* Maintain aspect ratio */
  max-width: 80%; /* Override any maximum width constraints */
}

/* Side menu styling */
.side-menu {
  position: fixed;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #8e24aa;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.side-menu ul li {
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.side-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  display: block;
  border-radius: 4px;
  padding: 8px 16px;
  transition: background-color 0.3s;
}

.side-menu ul li:hover {
  background-color: #6a1b9a;
}

.side-menu ul li a:hover {
  color: #e1bee7;
}

/* Responsive design for mobile */
@media (max-width: 600px) {
  .company-name {
    font-size: 1.8em;
  }

  .menu-icon {
    font-size: 20px;
  }
}
